# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Env variables file
.env

# Private utilities
/cfia_private_utils/

# Filtered and processed file
cfia_food_recalls.csv
processed_cfia_food_recalls.csv

